<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ texts.title }}</title>
        <link rel="icon" type="image/x-icon" href="/static/img/guy_icon.png">
        <link rel="stylesheet" href="/static/css/foundation.min.css">
        <link rel="stylesheet" href="/static/css/app.css?id=7n">
    </head>


    <body>
    {% include "header.html" %}
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <h2>{{ texts.title }}</h2>
        </div>

        <div class="large-4 medium-6 small-12 cell">
            <div class="callout">
                <h4>ACTIONS</h4>
                <div>
                    <a href="/admin/new_post" class="button">New Blog Post</a>
                    <a href="/admin/new_book_page" class="button">New Book</a>
                </div>
                
            </div>
        </div>

        <div class="large-4 medium-6 small-12 cell">
            <div class="callout primary">
            <h4>EDIT BLOG POSTS</h4>
                {% if uposts.len() > 0 %}
                {% for upost in uposts %}
                    {% let post = upost.post %}
                        {% include "posts_edit_item.html" %}
                    {% endfor %}
                {% else %}
                [NONE]
                {% endif %}
            </div>
        </div>
    </div> <!-- end of grid-x -->

            

        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/vendor/what-input.js"></script>
        <script src="/static/js/vendor/foundation.min.js"></script>
        <script type="module" src="/static/js/app.js?id=7"></script>
        <script type="module" src="/static/js/admin_page.js?id=5"></script>
    </body>


</html>
