<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ texts.title }}</title>
        <link rel="icon" type="image/x-icon" href="/static/img/guy_icon.png">
        <link rel="stylesheet" href="../static/css/foundation.min.css">
        <link rel="stylesheet" href="../static/css/app.css?id=3547">
    </head>

    <body>
    {% include "header.html" %}

    <!-- archive on left, latest post on right (latest post invisible on mobile) -->
    
    <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 small-12 cell">
            {% if let Some(cat_string) = category %}
                <h2>{{ cat_string }}</h2>
            {% endif %}
            <div class="callout">
                {% if uposts.len() > 0 %}
                    {% for upost in uposts %}
                    {% let post = upost.post %}
                        {% if !post.is_pinned() %}
                            {% include "posts_archive_item.html" %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    [NONE]
                {% endif %}
            </div>

            {% if let Some(cat_string) = category %}
                <a class="button small" href="/blog">clear category</a>
            {% endif %}
        </div>
    </div>

        <script src="../static/js/vendor/jquery.js"></script>
        <script src="../static/js/vendor/what-input.js"></script>
        <script type="module" src="../static/js/app.js?id=7"></script>
        <script src="../static/js/vendor/foundation.min.js"></script>

    </body>

</html>