<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ upost.post.title }}</title>
        <link rel="icon" type="image/x-icon" href="/static/img/guy_icon.png">
        <link rel="stylesheet" href="../static/css/foundation.min.css">
        <link rel="stylesheet" href="../static/css/app.css?id=5569">
    </head>

    <body>
    {% include "header.html" %}

    <!-- archive on left, latest post on right (latest post invisible on mobile) -->

    <div class="article_wrapper">
        <article class="article">
            <h2 class="article_title bold_text">{{ upost.post.title }}</h2>
            <p class="article_date italics">{{ upost.post.get_formatted_updated_timestamp() }}</p>
            <hr>
            <p>{{ upost.post.get_body_as_html() | safe }}</p>
        </article>
        <br>

        {% let categories = upost.categories %}
        {% if categories.len() > 0 %}
        <div class="callout cats_box">
            {% include "categories.html" %}
        </div>
        {% endif %}

    </div>

        <script src="../static/js/vendor/jquery.js"></script>
        <script src="../static/js/vendor/what-input.js"></script>
        <script src="../static/js/vendor/foundation.min.js"></script>
        <script type="module" src="../static/js/app.js?id=77"></script>

    </body>

</html>