<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ texts.title }}</title>
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="../static/css/foundation.min.css">
        <link rel="stylesheet" href="../static/css/app.css?id=05">
    </head>

    <body>
    {% include "header.html" %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">

            <div class="large-12 cell">
                <h1>{{ texts.title }}</h1>
            </div>

            {% if posts.len() > 0 %}
            {% for post in posts %}
            {% if !post.is_pinned() %}
                <div class="large-6 medium-6 small-12 cell">
                    <div class="callout">
                        <h3>{{ post.title }}</h3>
                        <p class="italics">{{ post.get_formatted_updated_timestamp() }}</p>
                        <div class="callout primary blog_post_callout">
                            <p>{{ post.body | safe }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            {% else %}
            [NONE]
            {% endif %}

        </div> <!-- end of grid-x -->
    </div><!-- end of grid-container -->            

        <script src="../static/js/vendor/jquery.js"></script>
        <script src="../static/js/vendor/what-input.js"></script>
        <script type="module" src="../static/js/app.js?id=7"></script>
        <script src="../static/js/vendor/foundation.min.js"></script>

    </body>

</html>