<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ texts.title }}</title>
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/foundation.min.css">
        <link rel="stylesheet" href="/static/css/app.css?id=509020709">
    </head>


    <body>
    {% include "header.html" %}

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1>{{ texts.title }}</h1>
                    <p>{{ texts.message }}</p>
            </div>

            <div class="large-12 cell">
                <div class="callout">

                    <div class="grid-x grid-padding-x">
                        <div class="large-12 cell">
                            <h4>{{ texts.title }}</h4>
                        </div>
                        <div class="large-4 medium-4 small-12 cell">
                            <label>
                                {{ texts.domain }}
                                <input
                                    id="site_domain"
                                    name="site_domain"
                                    type="text"
                                    value="{{ client_data.domain }}"
                                />
                            </label>

                            <label>
                                {{ texts.name }}
                                <input
                                    id="site_name"
                                    name="site_name"
                                    type="text"
                                    value="{{ client_data.name }}"
                                />
                            </label>

                            <label>
                                {{ texts.id }}
                                <input
                                    id="client_id"
                                    name="client_id"
                                    type="text"
                                    value="{{ client_data.client_id }}"
                                    readonly
                                />
                            </label>

                        </div>
                        <div class="large-4 medium-4 small-12 cell">
                            <label>
                                {{ texts.red_uri }}                                
                                <input
                                    id="redirect_uri"
                                    name="redirect_uri"
                                    type="text"
                                    value="{{ client_data.redirect_uri }}"
                                />
                            </label>

                            <label>
                                {{ texts.logo_url }}
                                <input
                                    id="logo_url"
                                    name="logo_url"
                                    type="text"
                                    value="{{ client_data.logo_url }}"
                                />
                            </label>
                            
                            <label>
                                {{ texts.cli_type }}
                                <select id="client_type" name="client_type">
                                    <option
                                        value="confidential"
                                        {% if client_data.client_type == "confidential" %}selected{% endif %}
                                    >
                                        Confidential
                                    </option>
                                    <option
                                        value="public"
                                        {% if client_data.client_type == "public" %}selected{% endif %}
                                    >
                                        Public
                                    </option>
                                    <option
                                        value="native"
                                        {% if client_data.client_type == "native" %}selected{% endif %}
                                    >
                                        Native (mobile/desktop)
                                    </option>
                                </select>
                            </label>

                            <label>
                                {{ texts.cat }}
                                <select id="category" name="category">
                                    <option
                                        value="game"
                                        {% if client_data.category == "game" %}selected{% endif %}
                                    >
                                        Game
                                    </option>
                                    <option
                                        value="service"
                                        {% if client_data.category == "service" %}selected{% endif %}
                                    >
                                        Service
                                    </option>
                                    <option
                                        value="tool"
                                        {% if client_data.category == "tool" %}selected{% endif %}
                                    >
                                        Tool
                                    </option>
                                </select>
                            </label>

                        </div>
                        <div class="large-4 medium-4 small-12 cell">
                            <label>
                                {{ texts.desc }}
                                <textarea
                                    id="description"
                                    name="description"
                                    style="height: 200px;"
                                    >{{ client_data.description }}</textarea>
                            </label>

                            <label>
                                {{ texts.is_active }}
                                <input
                                    type="checkbox"
                                    id="is_active"
                                    name="is_active"
                                    {% if client_data.get_is_active() %}checked{% endif %}
                                >
                            </label>
                        </div>
                        <div class="large-12 cell">
                            <a class="button small"
                                onclick="submit_data()">{{ texts.save_btn }}</a>
                        </div>
                        <div class="large-12 cell">
                            <a class="button small" id="req_secret_button">{{ texts.new_scret_btn }}</a>
                        </div>
                    </div>
               </div>

                <div class="callout primary hidden" id="msg_box"></div>

            </div>
        </div> <!-- end of grid-x -->

    </div><!-- end of grid-container -->

    <div id="gray_wrapper" class="no_display">&nbsp;</div>
            
    <div class="callout primary no_display" id="confirm_box">
        <h5>Are you sure you want to create a new CLIENT SECRET?</h5>
        <p>If you create a new CLIENT SECRET you will need to paste it into your client's ENV variables, or else the app will not be able to authenticate your users.</p>
        <span>
            <a class="button small"
                onclick="request_new_secret()">{{ texts.new_scret_btn }}</a>
            <a class="button small" id="cancel_button">CANCEL</a>
        </span>
    </div>
            

        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/vendor/what-input.js"></script>
        <script src="/static/js/vendor/foundation.min.js"></script>
        <script type="module" src="/static/js/app.js?id=7"></script>
        <script type="module" src="/static/js/edit_client_form.js?id=7"></script>
    </body>


</html>
