<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ texts.title | safe }}</title>
        <link rel="icon" type="image/x-icon" href="static/img/guy_icon.png">
        <link rel="stylesheet" href="static/css/foundation.min.css">
        <link rel="stylesheet" href="static/css/app.css?id=752a">
    </head>

    <body>
    {% include "header.html" %}
    <div class="grid-x grid-padding-x"> <!-- 2 -->
        <!-- START OF MAIN CONTENT BOXES -->

        <div class="large-3 medium-5 small-12 cell" id="about_box">
            <div class="callout">
                {{ pinned_post | safe }}
            </div>

            {% if categories.len() > 0 %}
            <div class="callout">
                {% include "categories.html" %}
            </div>
            {% endif %}
        </div>

        <div class="large-5 medium-7 small-12 cell">
            <div class="callout">
                <h2>POSTS</h2>
                {% if uposts.len() > 0 %}
                    {% for upost in uposts %}
                    {% let post = upost.post %}
                        {% if !post.is_pinned() %}
                            {% include "posts_archive_item.html" %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    [NONE]
                {% endif %}
            </div>
        </div>

    </div> <!-- end of grid-x -->

        <script src="static/js/vendor/jquery.js"></script>
        <script src="static/js/vendor/what-input.js"></script>
        <script src="static/js/vendor/foundation.min.js"></script>
        <script type="module" src="static/js/app.js?id=77"></script>
        <script type="module" src="static/js/index.js?id=59"></script>
    </body>

</html>