<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ texts.title }}</title>
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/foundation.min.css">
        <link rel="stylesheet" href="static/css/app.css?id=7045">
    </head>

    <body>
    {% include "header.html" %}
    <div class="grid-container">
        <div class="grid-x">
            <div class="large-12 cell">
                <h1>{{ texts.title }}</h1>
            </div>

            <div class="large-4 medium-6 small-12 cell">
                <div class="callout">
                    <p>
                        {{ texts.message }}
                    </p>
                </div>

                <div class="callout primary">
                    <p>
                        {% if pinned_post.is_some() %}{{ pinned_post.as_ref().unwrap() | safe }}
                        {% else %}
                        {{ texts.default_pinned | safe }}
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="large-12 cell">
                <div class="grid-x less-padding">
                    <div class="large-12 cell">
                        <h2>APPS</h2>
                    </div>
                    {% for link in client_links %}
                    <div class="large-3 medium-4 small-6 cell">
                        <div class="callout client_link_callout">
                            <h5>
                                <a class="client-link" data-client-id="{{ link.client_id }}">
                                    {{ link.name }}
                                </a>
                            </h5>
                            <a class="client-link" data-client-id="{{ link.client_id }}">
                                <img class="client_link_logo" src="{{ link.logo_url }}" />
                            </a>
                            <p class="client_link_desc">{{ link.description }}</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

            <div class="callout primary hidden" id="err_msg_box"></div>

        </div> <!-- end of grid-x -->

    </div><!-- end of grid-container -->

        <script src="static/js/vendor/jquery.js"></script>
        <script src="static/js/vendor/what-input.js"></script>
        <script src="static/js/vendor/foundation.min.js"></script>
        <script type="module" src="static/js/app.js?id=77"></script>
        <script type="module" src="static/js/index.js?id=59"></script>
    </body>

</html>