{% if !nav_data.is_active("about") %}
    <a tabindex="0"
        href="/"
        class='button menu-button'
    >{{texts.nav.home}}</a>
{% endif %}

<a tabindex="0"
    href="https://pattmayne.com/books"
    class='button menu-button'
>books</a>

{% if user.logged_in %}
    {% if user.role == "admin" %}

    <a tabindex="0"
        href="/admin"
        class='button menu-button  {% if nav_data.is_active("admin") %} active {% endif %}'
    >{{texts.nav.admin}}</a>

    {% endif %}
    <a tabindex="0" id="logout_nav_button" class='button menu-button'>{{texts.nav.logout}}</a>

{% endif %}