<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Email Verification Code.</title>
    </head>

    <body style="background-color: #443a60; color:rgb(243, 238, 85); padding: 14px;">
        <h3>Welcome to Crankade, {{ username }}!</h3>
        <p>Your verification code is <span style="background-color: rgb(15, 15, 15); padding: 5px;">{{ code }}</span> <br/> You can paste it into the field on the verification page, or just follow <a style="color: azure;" href="{{ link }}">this link</a> <br/>to AUTO SIGN-IN and verify your email.</p>
        <p>The code expires in five minutes.</p>
    </body>

</html>