/*  REMEMBER only to edit the SCSS file  */

/* RAW COLORS */


$pure-orange: #de8200;
$pure-blue: #007ede;
$black: #111;
$pure-black: #000;

/* Fonts from the PHP version*/
$dark-rust: rgb(32, 28, 27);
$dark-jet: rgb(32, 27, 32);
$jet: #423841ff;
$gray: rgb(134, 129, 128);
$light-gray: #ccc;
$dark-gray: #292828;
$lapis-lazuli: #2e5c8aff;
$timberwolf: #d6d6d6ff;
$forest-green: #248232ff;
$dartmouth-green: #1A6025; /* darker green */
$bronze: #c97c18;
$dull-bronze: rgb(156, 95, 15);
$deep-orange: rgb(169, 101, 13);
$dull-orange: rgb(163, 142, 127);
$pastel-blue: #5a639e;
$yellow: #bdf000;
$very-light-gray: #f0f0f0;
$very-dark-blue: #0d1117;
$very-dark-blue-fade: #0d1117a4;


$callout-border-color: $deep-orange;
$callout-bg-color: $very-dark-blue;
$callout-text-color: $light-gray;

$primary-border-color: $deep-orange;
$primary-bg-color: $very-dark-blue;
$primary-text-color: $light-gray;

$article-border-color: $deep-orange;
$article-bg-color: $very-dark-blue-fade;
$article-text-color: $very-light-gray;

$editor-border-color: $deep-orange;
$editor-bg-color: $very-dark-blue;
$editor-text-color: $very-light-gray;
/* COLOR SCHEME 
        https://coolors.co/423841-2e5c8a-d6d6d6-248232-c97c18
*/

$white: $very-light-gray;


/* CUSTOM FONTS */

/* Fonts from the PHP version*/

@font-face {
    font-family: andada;
    src: url(../fonts/andada.otf);
}


@font-face {
    font-family: libertine;
    src: url(../fonts/LinLibertine_R.ttf);
}


@font-face {
    font-family: nimbus;
    src: url(../fonts/nimbus.otf);
}

@font-face {
    font-family: dejavu_serif;
    src: url(../fonts/dejavu_serif.ttf);
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: dejavu_serif;
    src: url(../fonts/dejavu_serif_bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: dejavu_serif;
    src: url(../fonts/dejavu_serif_italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: dejavu_serif;
    src: url(../fonts/dejavu_serif_bolditalic.ttf);
    font-weight: bold;
    font-style: italic;
}




/* OLD FONTS from crankword. */

@font-face {
  font-family: ander-hedge;
  src: url(../fonts/ander_hedge.ttf);
}



@font-face {
  font-family: nue-gothic-reg;
  src: url(../fonts/nue-gothic-reg.ttf);
}


@font-face {
  font-family: nue-gothic-round;
  src: url(../fonts/nue-gothic-round.ttf);
}




/* FONT VARIABLES */

$title-font: nue-gothic-round;
$header-font: nue-gothic-round;
$text-font: nimbus;
$button-font: nue-gothic-reg;
$article-font: nimbus;





/*    HTML elements  */

body {
    background-color: $dark-gray;

    /* background-image: url(../img/wall.png); */

    background-image: url(../img/screen_BG_indexed.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    font-family: $text-font;
    color: $very-light-gray;
}

p, a, label {
    font-family: $text-font;
    color: $very-light-gray;
    font-size: medium;
}

input, textarea {
    font-family: $article-font;
    color: $callout-text-color;
    background-color: $callout-bg-color;
    border: 1px solid $callout-border-color;
}

h1,
h2 {
    font-family: $title-font;
}


h3,
h4,
h5,
h6{
    font-family: $title-font;
    text-transform: uppercase;
    font-size:medium;
}

.button {
    font-family: $button-font;
    text-transform: uppercase;
    font-size:large;
    font-weight: bold;
    border: 1px solid $article-border-color;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    align-items: center;
    justify-content: center;
    line-height: normal;
}

.button:hover {
    border: 1px solid $white;
}


p,
a,
li,
input {
    font-family:
        $text-font,
        Arial,
        sans-serif;
}



blockquote {
    color: #666;
    border-left: 3px solid #444;
}

/*     FOUNDATION overrides     */


.button,
.button.disabled,
.button[disabled],
.button.disabled:hover,
.button[disabled]:hover,
.button.disabled:focus,
.button[disabled]:focus {
    background-color: #111;
    color: #fefefe;
}



.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 20px;
    font-size: large;
    border: 2px solid $callout-border-color;
    background-color: $callout-bg-color;
    color: $callout-text-color;
    font-family: $text-font;
}


.callout.primary {
    font-family: $text-font;
    border: 2px solid $primary-border-color;
    background-color: $primary-bg-color;
    color: $primary-text-color;
    padding: 20px;
}

.callout.primary p,
.callout p {
    color: $callout-text-color;
    font-family: $text-font;
}

/*    CUSTOM classes  */

.profile-pic {
    width: 100%;
    padding: 0px;
    padding-bottom: 14px;
}

.profile-pic-tiny {
    width: 100%;
    padding: 0px;
    padding-bottom: 10px;
}

.cell_d {
    border: 1px solid white!important;
}

.p-p-cell-L {
    padding-right: 7px!important;
}

.p-p-cell-R {
    padding-left: 7px!important;
}

.inner-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 7px; /* adjust as needed */
    height: 100%; /* Fill parent */
    padding-bottom: 14px;
}

.tiny-img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

.inner-inner-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px; /* adjust as needed */
    height: 100%; /* Fill parent */
    padding-bottom: 0px;
}

.inner-inner-inner-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px; /* adjust as needed */
    height: 100%; /* Fill parent */
    padding-bottom: 0px;
}


.inner-inner-inner-inner-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px; /* adjust as needed */
    height: 100%; /* Fill parent */
    padding-bottom: 0px;
}



.main-logo-cell {}

.menu-button {
    color: $black;
    background-color: $light-gray;
    border: 1px solid $light-gray;
    
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
}

.menu-button:hover {
    border: 1px solid $light-gray;;
    color: $light-gray;
    background-color: $black;
}

.menu-button:focus {
    color: $forest-green;
    background: none;
}

.undisplay {
    display: none;
}

.active {
    color: #111;
    background-color: $pure-blue;
    border: 1px solid $pure-blue;
}

.bold-text {
    font-weight: bold;
}

.button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #111;
    padding: 5px;
}

.date_p {
    font-style: italic;
    text-align: right;
}

.social_button_container {
    align-items: center;      /* vertically align items in the center */
    width: 100%;
}

.button.social {
    background-color: #000;
    padding: 7px;
    margin-bottom: 0px;
    margin-right: 4px;
    text-decoration: none;
    align-items: center;      /* center content vertically inside each button */
    color: white;
}


.button.social:hover,
.button.social:focus {
    background-color: #1a5aef;
    color:#f5f5f5;
}


.button.CTA {
    background-color: #111;
    color: white;
    border: none;
    -webkit-transition: border 0.25s ease-out, color 0.25s ease-out, background-color 0.25s ease-out;
    transition: border 0.25s ease-out, color 0.25s ease-out, background-color 0.25s ease-out;
}

.button.CTA:hover,
.button.CTA:focus {
    background-color: #1a5aef;
    color: #fff;
}


.middle-thing {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    flex: 25%;

    @media (max-width: 472px) {
        flex: 50%;
    }
}



.music-img {
    float: left;
    height: 150px;
    margin: 5px 7px 2px 0px;

    @media (max-width: 430px) {
        height: 100px;
    }


    @media (max-width: 736px) {
        height: 104px;
    }
}

.music-CTA-lg {
    display: '';

    position: absolute;
    bottom: 0;
    margin-bottom: 0;

    @media (max-width: 736px) {
        display: none;
    }

    @media (max-width: 640px) {
        display: inline-block;
    }

    @media (max-width: 512px) {
        display: none;
    }
}

.music-CTA-sm {
    display: none;
    margin-top: 5px;

    @media (max-width: 736px) {
        display: inline-block;
    }

    @media (max-width: 640px) {
        display: none;
    }

    @media (max-width: 512px) {
        display: inline-block;
    }
}

.music-details {
    position: relative;
    min-height: 100%;
    width: 100%;

    padding-bottom: 0;
}


.book-details {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
}

.book-img {
    float: left;
    height: 180px;
    margin: 4px 5px 0px 0px;

    @media (max-width: 800px) {
        height: 150px;
    }


    @media (max-width: 430px) {
        height: 120px;
    }
}

.solo-title-text {
}

.book-img-wrap {
    float: left;
    width: 30%;
    margin-right: 10px;
}

.book-desc {   /* or word-wrap: break-word; */
    margin-bottom: 2px;
}

.genres_p {
    margin-bottom: 0px;
    font-family: $button-font;
    text-transform: uppercase;
    font-size: small;
    display: inline-block;
    background-color: #ccc;
    padding: 0px 3px;
}

.genres_box {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.genre_span {
    margin: 0px;
    margin-right: 3px;
    font-family: $button-font;
    font-size: small;
    display: inline-block;
    background-color: #dfdfdf;
    color: #000;
    padding: 0px 4px;
}

.genre_span:hover {
    cursor: default;
    background-color: #111;
    color: #ccc;
}

.book-CTA {
    margin: 5px 5px 0px 0px;
}


.hr {
    border-top: 1px solid #111;
}



.main-wrapper {
    min-height: 100vh;
    width: 100vw;
}

.get-it {
    text-align: center;
}

.music-container {
    width: 100%;
    display: flex;
}

.book-container {
    width: 100%;
    display: flex;
}

.book_callout{
    background-color: #c6c6c6;
    border: 1px solid #000;
    margin-bottom: 0px;
}

.grid-test {
    border: 1px dotted blue;
}

.centered-image-container {
    text-align: center;
}

.book-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.books_page_text {
    color: #f5f5f5;
    text-shadow: 3px 3px 7px red;
}

.content_title {
    border-bottom: 2px solid yellow;
    margin-top: 11px;
    color: yellow;
    display: none;
}

.section-title {
    background-color: #fff;
    border: none;
    margin: none;
    padding: none;
}

.section-title-text {
    text-align: left;
    color: #e90000;
    margin: none;
    padding: none;
}


.blog_link {
    font-family: $button-font;
    font-size: large;
    color:#222;
    margin: 0px 3px 0px 3px;
    padding: 0px 3px 0px 3px;
}

.blog_link:hover {
    color:#e3dede;
    background-color: #1f1f1f;
}

.blog_link_cats{
    font-family: $button-font;
}

.attribution {
    font-style: italic;
    color:#222;
    margin-left: 15px;
    margin-top: -10px;
    padding-top: 0px;
}

/*    CUSTOM ids      */



#pattmayne_img {
    margin: auto;
    height: 200px;
    border: 4px solid #222;
}

#the_title {
    font-family: $title-font;
    color: $light-gray;
    display: inline-block;
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 6px;
    font-size: 41px;
    text-transform: none;
    /* -webkit-text-stroke: 1px #bf7f00; */

    @media (max-width: 535px) {
        font-size: 37px;
    }

    @media (max-width: 420px) {
        font-size: 31px;
    }
        
    @media (max-width: 350px) {
        font-size: 25px;
    }
}

#title_right {
    color: $pure-blue;
}

#title_left {
    color: $pure-blue;
}

#footer-text {
    color: #d3d3d3!important;
    font-size: 18px;
    color: black;
    text-align: right;
}

#footer {
    padding-top: 5px;
}

#more_books {
    /* background-color: rgba(255, 255, 255, 0.7); */
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
}

#more_books_link_container {
    margin-top: 0px;
    text-align: right;
}

.more_books_link {
    color: red;
    text-align: right;
    display: inline-block;
    width: auto;
}


#books_box {}

#music_box {}

#about_box {

}

#podcasts_box {}

#twitter_pic {
    padding-right: 0px;
    height: 21px;
}

#yt_pic {
    padding-right: 7px;
    height: 21px;
}

#substk_pic {
    padding-right: 7px;
    height: 21px;
}


#books-page-title {
    border-bottom: 3px dotted red;
}

#fuckbutton{
    visibility: hidden;
}

.post_title {
    color: $pure-blue;
}

#posts_list_box {
    border: 1px solid #111;
    display: inline-block;       /* Make the div shrink to fit content */
    max-width: 100vw;             /* Prevent it from exceeding the viewport width */
    margin: 15px;               /* Center the div if desired */
    box-sizing: border-box;       /* Include padding/border in width calculations if needed */
    /* Optional: add some padding for spacing inside the div */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);

    @media (max-width: 640px) {
        width: 100vw;
        margin-left: 0px;
        margin-right: 0px;
        border: none;
        padding-top: 0px;
    }
}

#more_posts_list_box {
    margin-left: 15px;
    padding: 10px;
    border: 1px solid #111;
    width: 700px;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.7);

    @media (max-width: 700px) {
        width: 100%;
        margin-left: 0px;
        border-left: none;
        border-right: none;
        border-top: none;
        padding-top: 0px;
    }
}

/* BLOG ARTICLE STYLING */

.article_wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 10px;

    @media (max-width: 640px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.article {
    text-align: left;
    justify-content: left;
    display: inline-block;
    width: 770px;
    max-width: 100%;
    padding: 50px 40px 40px 40px;
    margin: 0px;
    color: $article-text-color;
    font-family: $article-font, nimbus;
    /*
    border: 2px solid $callout-border-color;
    background-color: $callout-bg-color;
    color: $callout-text-color;
    */

    border: none;
    background-color: $article-bg-color;

    @media (max-width: 640px) {
        margin-left: 0px;
        margin-right: 0px;
        padding: 20px 15px 10px 15px;
    }

}

.article h1, .article h2, .article h3,
.article h4, .article h5, .article h6, .article hr,
.article label {
    font-family: $article-font, nimbus;
    color: $article-text-color;
}

.article p, .article a, .article li {
    font-family: $article-font, nimbus;
    color: $article-text-color;
    font-size: 1.2em;


    @media (max-width: 500px) {
        font-size: medium;
    }
}

.cats_box {
    width: auto;
    max-width: 500px;
    display: inline-block;
    margin: 10px;
}

.cat_item {
    display: inline-block;
    width: auto;
    padding: 2px 5px 1px 5px;
    margin: 2px 2px 5px 2px;
    font-family: nimbus;
    border: 1px solid $light-gray;
    background-color: $black;
    color: $light-gray;
}

.cat_item:hover {
    cursor: pointer;
    background-color: $pure-blue;
    color: $black;
}

.archive_p {
    margin-bottom: 5px;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.archive_date {
    color: $pastel-blue;
    font-size: 0.9rem;
    margin-right: 10px;
    white-space: nowrap;
}

.archive_title_wrap {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0; /* Allows shrinking */
}


.archive_title {
    color: $bronze;
    display: inline-block;
    white-space: normal;
    word-break: break-word;
}

/* textarea */
#post_body {
    min-height: 500px;
    border: 2px solid $editor-border-color;
    background-color: $editor-bg-color;
    padding: 20px;
}

/* text input */
#title_input {
    font-family: $article-font, nimbus;
    color: $editor-text-color;
    border: 2px solid $editor-border-color;
    background-color: $editor-bg-color;
}


#article_container {
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 10px;
    width: 700px;
    max-width: 700px;
    background-color: #d6d3d1;
    border: 1px solid #111;

    @media (max-width: 700px) {
        width: 100%;
        margin-left: 0px;
        border-left: none;
        border-right: none;
    }
}

.article h2.article_title {
    font-family: $text-font;
    text-transform: none;
    font-weight: bold;
    color: $bronze;

    @media (max-width: 640px) {
        font-size: 1.55em;
    }
}

.article p.article_date {
    color: $pure-blue;
}


.italics {
    font-style: italic;
}

  /* Optional: clear floats after the paragraph if needed */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#front_books_grid {
    padding: 0px;
    display: flex;
    gap: 1rem;
}

#books_grid {
    padding: 16px;
    display: flex;
    gap: 1rem;
}
.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.item {
    background: #eee;
    padding: 0px;
    margin-bottom: 0px;
}


.bottom_link {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3px;
    color: rgb(162, 162, 162);
}

.hidden {
  display: none;
}


.no_display {
  display: none!important;
}
